In [1]:
import random
import requests
import numpy as np
import time
import pandas as pd
from tqdm import tqdm

In [2]:
import dl_translate as dlt
mt = dlt.TranslationModel("mbart50", device='cuda:0')
# mt = dlt.TranslationModel()  # Slow when you load it for the first time

In [3]:
NOTEBOOK_NO = 0

In [4]:
df = pd.read_pickle('/home/denay/azer-bert/translated_augmented_2kk.pkl')

In [5]:
df

                  category                                            text en
9        CÜMHURİYYƏT - 100  practical conference dedicated to the annivers...
10       CÜMHURİYYƏT - 100  a scientific practical conference dedicated to...
11       CÜMHURİYYƏT - 100  a scientific practical conference dedicated to...
12       CÜMHURİYYƏT - 100  a scientific practical to the 100th anniversar...
13       CÜMHURİYYƏT - 100  a scientific practical conference at to the 10...
...                    ...                                                ...
1987579        QAN YADDAŞI  although the armenian a page written in blood ...
1987580        QAN YADDAŞI  although the armenian atrocities are a page in...
1987581        QAN YADDAŞI  although the armenian atrocities are a page al...
1987582        QAN YADDAŞI  although the armenian atrocities are a page wr...
1987583        QAN YADDAŞI  although the armenian atrocities are a page wr...

[1987575 rows x 2 columns]

In [6]:
df_split = np.array_split(df, 2)

In [7]:
df_split1 = np.array_split(df_split[0], 4)

In [8]:
def retranslate(row):
    res = mt.translate(row, source="English", target="Azerbaijani")
    return res

In [ ]:
i = 0
lst = []
cols = ['category', 'text_en', 'text_az']
for category, text_en in tqdm(zip(df_split1[NOTEBOOK_NO]['category'], df_split1[NOTEBOOK_NO]['text en']), total=len(df_split1[NOTEBOOK_NO])):
    text_az = retranslate(text_en)
    lst.append([category, text_en, text_az])
    if i % 1000 == 0 and i != 0:
        df1 = pd.DataFrame(lst, columns=cols)
        df1.to_pickle('/home/greamdesu/GF/azer_translated_pkl/df_neaural_'  + str(NOTEBOOK_NO) + '_' + str(i)+'.pkl')
    i=i+1
df1 = pd.DataFrame(lst, columns=cols)
df1.to_pickle('/home/greamdesu/GF/azer_translated_pkl/df_neaural_'  + str(NOTEBOOK_NO) + '_final' +'.pkl')

  8%|▊         | 18833/248447 [5:53:59<77:56:45,  1.22s/it]